body {
    margin: 0;
    background-color: black;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

canvas {
    background-color: white;
}